.form_type_remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.form__submit_type_remove {
  margin-top: 20px;
  width: 100%;
  max-width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s;
}

.form__submit_type_remove:hover {
  opacity: 0.8;
}


.form__input.touched:invalid {
  border-bottom: 1px solid red;
}

.form__input--error {
  border: 2px solid red;
}

.form__input-error {
  color: red;
  font-size: 12px;
  margin-top: auto;
  display: block;
}
