.group__imagen-button {
  background: transparent url('../images/Group-corazón.svg') center no-repeat;
  background-size: contain;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.group__imagen-button_active {
  background-image: url('../images/Group-corazón-Active.svg');
}
